html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  margin: .5rem;
  padding: 1rem .75em 1em .6em
}

*, *::before, *::after {
  box-sizing: inherit;
}

header img {
  width: 2rem;
  display: flex;
  order:-1;
}

body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;

}

header h1 {
  font-family: sans-serif;
}

header p {
  font-family: sans-serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 1.2em;
  font-family: sans-serif;
}

nav a {
  text-decoration: none;
  list-style-type: none;
  color: #0074d9;
  margin-top: auto;
}

nav a:hover {
  color: #fff;
}
